<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Current Posts</h1>
    <ul class="blogPosts">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="blogPost">
            <h2>Blog Title:</h2>
            <span><%= info[i].postTitle %></span>
            <h3>Blog Content:</h3>
            <span><%= info[i].postContent %></span>
            <span class="like"><%= info[i].likes %></span> <span class="like">likes</span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Blog Post:</h2>

    <form action="/addPost" method="POST">
        <input type="text" placeholder="Blog Post Title" name="postTitle">
        <textarea name="postContent" rows="4" cols="50" placeholder="Blog Post Content" ></textarea>
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
